<div class="cover container">
    <div class="cover-content">
        {{#if @site.icon}}
            <div class="cover-icon">
                <a href="https://apps.apple.com/us/app/check-later/id1493525536">
                <img class="cover-icon-image" src="{{@site.icon}}" alt="{{@site.title}}">
                </a>
            </div>
        {{/if}}

        {{#if @site.description}}
            <div class="cover-description">{{@site.description}}</div>
        {{/if}}

        <div class="cover-icon">
            <h1>Check Later</h1>
            <center>
                <a href="https://apps.apple.com/us/app/check-later/id1493525536"><img src="/content/images/assets/appstore.svg"></a>
            </center>
        </div>

        {{#if @labs.members}}
            {{#unless @member}}
                <div class="cover-cta">
                    <button class="button members-subscribe" data-portal="signup">Subscribe now</button>
                    <button class="button button-secondary members-login" data-portal="signin">Login</button>
                </div>
            {{/unless}}
        {{/if}}
    </div>
</div>