{{!< default}}

<div class="content-area">
    <main class="site-main">
        <div class="post-feed container medium">
            {{#foreach posts visibility="all"}}
                {{^if featured}}
                    {{> "loop"}}
                {{/if}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
</div>